/* 有动画类型的loading */
.app-animation-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.app-animation-loading-container {
  position: relative;
  margin: auto;
  width: 200px;
  height: 200px;
  perspective: 500px;
  transform-style: preserve-3d;
}

.app-animation-loading-container>div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-bottom: 5px solid orange;
  border-radius: 50%;
}

.app-animation-loading-container>div:nth-child(1) {
  border-color: #0097e6;
  animation: move1 1.2s linear -.8s infinite;
}

.app-animation-loading-container>div:nth-child(2) {
  border-color: #8c7ae6;
  animation: move2 1.2s linear -.4s infinite;
}

.app-animation-loading-container>div:nth-child(3) {
  border-color: #e1b12c;
  animation: move3 1.2s linear infinite;
}

@keyframes move1 {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotate(0);
  }

  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotate(360deg);
  }
}


@keyframes move2 {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotate(0);
  }

  100% {
    transform: rotateX(50deg) rotateY(10deg) rotate(360deg);
  }
}

@keyframes move3 {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotate(0);
  }

  100% {
    transform: rotateX(35deg) rotateY(55deg) rotate(360deg);
  }
}


/* 文本类型的loading */
.app-text-loading span {
  display: inline-block;
  animation: app-text-loading ease 1s infinite alternate;
  animation-delay: calc(var(--i)/10*1s);
}

@keyframes app-text-loading {
  100% {
    color: #91c5b0;
    transform: translateY(0.15rem);
  }
}