/*----------------------------- 文字控制容器 ----------------------------- */
.introduction-text-wraper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 2em;
  transform-style: preserve-3d;
  z-index: 1;
}

.introduction-main:hover {
  perspective: 2800px;
}

.introduction-text-wraper span {
  writing-mode: vertical-rl;
  color: aliceblue;
  font-family: cursive;
}


/*----------------------------- 打字机容器 ----------------------------- */
.typewriter {
  font-weight: 900;
  font-size: var(--font-size-20);
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  animation: typing 5s steps(40, end) infinite, blink-caret .75s step-end infinite;
  user-select: none;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 25%
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: orange;
  }
}